@model FashionStore.Models.Staff

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>Nhân viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffIdentification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffIdentification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffAccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBranchNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBranchNavigation.IdBranch)
        </dd>
    </dl>
    
    <form asp-action="Delete">       
        <a asp-action="Index">
            <button type="button" class="btn btn-info btn-icon-text">
                <i class="mdi mdi-keyboard-return"></i>
                Quay về
            </button>
        </a> |
        <input type="hidden" asp-for="IdStaff" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
