@model FashionStore.Models.ProductColor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>Màu sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageProductColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageProductColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductNavigation.IdProduct)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idcolor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về</a>
    </form>
</div>
