@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<FashionStore.Models.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        padding: 0;
        margin: 0;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh
    }

    h1 {
        color: #484848;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Times New Roman';
        letter-spacing: 7px;
        cursor: pointer
    }

        h1 span {
            transition: .5s linear
        }

        h1:hover span:nth-child(1) {
            margin-right: 5px
        }

            h1:hover span:nth-child(1):after {
                content: "";
            }

        h1:hover span:nth-child(2) {
            margin-left: 20px
        }

        h1:hover span {
            color: cornflowerblue;
            text-shadow: 0 0 5px cornflowerblue, 0 0 10px cornflowerblue, 0 0 20px cornflowerblue;
        }
    /*made with ❤, by qpi65*/
    .pagination-container > .pagination > li > a {
        display: inline-block;
        background: #00766f;
        border-radius: 4px;
        font-family: "arial-black";
        font-size: 14px;
        margin-left: 10px;
        color: #FFF;
        padding: 8px 12px;
        cursor: pointer;
    }

    .pagination-container ul .active span {
        display: inline-block;
        background: blue;
        border-radius: 4px;
        margin-left: 10px;
        font-family: "arial-black";
        font-size: 14px;
        color: white;
        padding: 8px 12px;
        cursor: pointer;
    }

</style>
<h1>Quản lý bài viết</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-outline-info btn-icon-text">
            Thêm mới
            <i class="mdi mdi-gamepad-round btn-icon-prepend"></i>
        </button>
    </a>
</p>
<table class="table table-striped">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPost)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
               <img src="~/@item.Banner" width="200"/>
            </td>
            <td>
                    @if (item.StatusPost == 0)
                    {
                        <input type="checkbox" checked value="@item.IdBaiViet" />
                    }
                    else
                    {
                        <input type="checkbox" value="@item.IdBaiViet" />
                    }
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.IdStaffNavigation.IdStaff)
            </td>*@
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdBaiViet">
                        <button type="button" class="btn btn-outline-success btn-icon-text">
                            Sửa
                            <i class="mdi mdi-pencil-box-multiple btn-icon-append"></i>
                        </button>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdBaiViet">
                        <button type="button" class="btn btn-outline-warning btn-icon-text">
                                Xóa
                                <i class="mdi mdi-delete-alert btn-icon-prepend"></i>
                        </button>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model,page => Url.Action("Index", "Post" ,new {page}))

@section Scripts{
    <script type="text/javascript">
        $("input[type=checkbox]").on('click', function () {
            var idBaiViet = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Admin/Post/updateCheck/",
                data: { idPost : idBaiViet },
                dataType: "Json",
                success: function (result) {
                    alert(result);
                }
            });
        });
    </script>
}

