@model FashionStore.Models.OrderDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityBuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityBuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductNavigation.IdProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcolorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcolorNavigation.Idcolor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdorderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdorderNavigation.Idorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsizeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsizeNavigation.Idsize)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrderDetail" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
