@model FashionStore.Models.OrderDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityBuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityBuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductNavigation.IdProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcolorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcolorNavigation.Idcolor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdorderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdorderNavigation.Idorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsizeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsizeNavigation.Idsize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrderDetail">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
