@model FashionStore.Models.ProductType

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeNameSlug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeNameSlug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewInFrontEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewInFrontEnd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idtype" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về</a>
    </form>
</div>
