@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<FashionStore.Models.ProductType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var listCategory = (List<Category>)ViewData["checkExitCategory"];
}
<style>
    body {
        padding: 0;
        margin: 0;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh
    }

    h1 {
        color: #484848;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Times New Roman';
        letter-spacing: 7px;
        cursor: pointer
    }

        h1 span {
            transition: .5s linear
        }

        h1:hover span:nth-child(1) {
            margin-right: 5px
        }

            h1:hover span:nth-child(1):after {
                content: "";
            }

        h1:hover span:nth-child(2) {
            margin-left: 20px
        }

        h1:hover span {
            color: cornflowerblue;
            text-shadow: 0 0 5px cornflowerblue, 0 0 10px cornflowerblue, 0 0 20px cornflowerblue;
        }
    /*made with ❤, by qpi65*/



    .pagination-container {
        display: flex;
        flex: 1;
    }

    .pagination {
        display: flex;
        flex: 1;
        list-style: none;
        padding: 0;
        gap: .625rem;
    }

    .page-item, .page-link {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PagedList-pageCountAndLocation {
        justify-content: start;
        order: -1;
        flex: 1;
        // expands the div to max available width
    }
</style>
<h1><span>Quản lý loại sản phẩm</span></h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="showResult">
    <strong>Tình trạng!!!</strong><h5 id="reusltHandle"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-outline-info btn-icon-text">
            Thêm mới
            <i class="mdi mdi-gamepad-round btn-icon-prepend"></i>
        </button>
    </a>

    <a class="btn btn-outline-warning" id="deleteItemSelect"></a>
</p>
<table class="table table-striped">
    <thead class="table-info">
        <tr>
            <th>
                <input type="checkbox" id="selectAllItem" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeNameSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewInFrontEnd)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" id="checkItem" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeNameSlug)
            </td>
            <td>
                <img src="~/@item.ImageType" width="200" />
            </td>
            <td id="viewFrontEnd">
                @if(item.ViewInFrontEnd == 0){
                    <input type="checkbox" checked value="@item.Idtype"/>
                } else
                {
                    <input type="checkbox" value="@item.Idtype" />
                }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idtype">
                        <button type="button" class="btn btn-outline-success btn-icon-text">
                            Sửa
                            <i class="mdi mdi-pencil-box-multiple btn-icon-append"></i>
                        </button>
                    </a>
                    
                @{
                    // đếm số dòng id Type nếu có ở bảng category theo id
                    var checkExit = listCategory.Where(m => m.Idtype == item.Idtype).Count();
                    if(checkExit <= 0){
                        <a asp-action="Delete" asp-route-id="@item.Idtype">Xóa</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model,page => Url.Action("Index", new {page}))
<!--js-->
<script type="text/javascript">
    // on load fisrt
    window.onload = function () {
        // hidden element
        $("#deleteItemSelect").hide();
        $("#showResult").hide();
    };
    // delete all
    $('#selectAllItem').click(function () {
        // get element use id checkAll
        // this = element id checkAll
        if ($(this).prop('checked')) {
            // change text button
            $("#deleteItemSelect").text("Xóa tất cả");
            // show button
            $("#deleteItemSelect").show('slow');
            // bắt sự kiện click cho button
            $("#deleteItemSelect").on('click', function () {
                $.ajax({
                    type: "Delete",
                    url: "/Admin/ProductType/deleteAll",
                    dataType: "Json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        // reload lại trang
                        window.setTimeout('location.reload()'); //Reloads after three seconds
                        $("#reusltHandle").text(result);
                        $("#showResult").show('slow');
                    }
                });
            });
        } else {
            $("#deleteItemSelect").hide('slow');
        }
    });

    // update click checkbox
    $('#viewFrontEnd > input[type="checkbox"]').click(function () {
        var idType = $(this).val();
        $.ajax({
            type: "GET",
            url: "/Admin/ProductType/updateCheck/",
            data: { idType: idType },
            dataType: "Json",
            success: function (result) {
                alert(result);
            }
        });
    });
</script>
