@model FashionStore.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurstomerBirtday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurstomerBirtday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurstomerIdentification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurstomerIdentification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authentication_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authentication_code)
        </dd>
    </dl>
    
    <form asp-action="Delete">       
        <a asp-action="Index">
            <button type="button" class="btn btn-info btn-icon-text">
                <i class="mdi mdi-keyboard-return"></i>
                Quay về
            </button>
        </a> |
        <input type="hidden" asp-for="IdCustomer" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
