@model FashionStore.Models.ProductSize

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Size sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanityProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanityProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcolorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcolorNavigation.Idcolor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsize">Sửa</a> |
    <a asp-action="Index">Sửa</a>
</div>
